/.idea/$CACHE_FILE$
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/3bbfb025-3db3-471e-a4fe-ad32f002ee6e.xml
/.idea/dataSources/3bbfb025-3db3-471e-a4fe-ad32f002ee6e/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/deployment.xml
/.idea/dictionaries
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
/.idea/nodejs-goldylocks-h2.iml
/.idea/vcs.xml
/.idea/workspace.xml
